<h1>Task Manager</h1>
<p>This is application to manager TO-Do list</p>

<%= link_to('Tasks',{controller: 'tasks',action: 'index', page: 1}) %><br/><br/>
<%= link_to('About',{action: 'about', id: 21, page: 13}) %><br/><br/>